<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="application.properties"/>
    </bean>

    <bean id="userDao" class="ru.itis.trip.dao.implementation.UserDao">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="tripDao" class="ru.itis.trip.dao.implementation.TripDao">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="tripCommentDao" class="ru.itis.trip.dao.implementation.TripCommentDao">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userCommentDao" class="ru.itis.trip.dao.implementation.UserCommentDao">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService" class="ru.itis.trip.services.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <bean id="tripService" class="ru.itis.trip.services.TripServiceImpl">
        <constructor-arg name="tripDao" ref="tripDao"/>
    </bean>

    <bean id="commentService" class="ru.itis.trip.services.CommentServiceImpl">
        <constructor-arg name="tripCommentDao" ref="tripCommentDao"/>
    </bean>

    <bean id="userCommentService" class="ru.itis.trip.services.UserCommentServiceImpl">

        <constructor-arg ref="userCommentDao"/>
    </bean>

    <bean id="validationService" class="ru.itis.trip.services.ValidationServiceImpl">

    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver.classname}"/>
        <property name="url" value="${driver.url}"/>
        <property name="username" value="${driver.username}"/>
        <property name="password" value="${driver.password}"/>
    </bean>

</beans>